/* loader */
.loaderpss {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 1; */
  z-index: 99999999;

  /* overflow: hidden; */
}

.vdfvs3 {
  animation: hinav 1s forwards;
}
@keyframes hinav {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
