* {
  margin: 0;
  padding: 0;
  /* font-family: "montserrat", sans-serif; */
}
body {
  /* content: ""; */
  /* background: url("../images/back.jpeg") no-repeat fixed center; */
}
.test{
  background: url("../images/back.jpeg") no-repeat fixed center;
}
.testimonials {
  background: url("../images/tt.jpeg") no-repeat fixed center;
  background-size: cover;
  padding: 80px 0;
  /* background: #f1f1f1; */
  color: #f1f1f1;
  text-align: center;
  width: 100%;
}
.in {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.wor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loc {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: rgba(255, 255, 255, 0.08);
  opacity: 0.8;
  padding: 30px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 25px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  /* text-transform: uppercase; */
  margin: 20px 0;
}
.stars {
  color: #f1f1f1;
  margin-bottom: 20px;
}
.loc p{
  color: white;
}

@media screen and (max-width: 960px) {
  .loc {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .loc {
    flex: 100%;
    max-width: 100%;
  }
}
